In [2]:
import math

In [30]:
math.sqrt(25)

5.0

In [31]:
math.pi

3.141592653589793

In [8]:
import math as mt

In [9]:
mt.sqrt(25)

5.0

In [32]:
import numpy

In [34]:
from numpy import random

In [35]:
import numpy as np

In [38]:
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)

In [40]:
#must then ask for dataOne table 
dataOne

array([[0.79443379, 0.25082504, 0.12086622, 0.01674557, 0.15928785],
       [0.87923891, 0.01125529, 0.05318839, 0.55770926, 0.28872064],
       [0.16280238, 0.95156925, 0.05077415, 0.41197736, 0.00531454],
       [0.19090843, 0.13062604, 0.16280098, 0.62648749, 0.09216498],
       [0.04261669, 0.66427896, 0.13407165, 0.99005277, 0.57010934]])

In [41]:
# Using the numpy package, give me the mean of table dataOne
np.mean(dataOne)

0.33275303911797344

In [43]:
print('Learning data science takes practice')

Learning data science takes practice

In [45]:
variablename=25

In [47]:
variableName1= 'I Love data Science'

In [56]:
variableName = 25.0

In [58]:
type(variableName)

float

In [63]:
varOne = 25

In [64]:
varTwo = 'Hello'

In [67]:
#Use , instead of +
varThree = varOne , varTwo

In [68]:
print(varThree)

(25, 'Hello')

In [70]:
ListOne = [1,2,3,4]

In [71]:
print(ListOne)

[1, 2, 3, 4]

In [72]:
print(ListOne[1:3])

[2, 3]

In [73]:
tel= {'jack': 4098, 'sape': 4139}

In [76]:
tel['sape']

4139

In [78]:
tel1 ={'maria': 1234, 'destinee': 5678, 'jennifer': 9012, 'amy': 3456, 'leah': 7890}

In [83]:
np.mean(ListOne)

2.5

In [21]:
def SayHello():
    print('Hello There!')

In [22]:
SayHello()

Hello There!

In [7]:
SayHello

In [10]:
def DoSum(Value1, Value2):
    return Value1 + Value2

In [11]:
DoSum(1,2)

3

In [15]:
def DisplaySum(Value1, Value2):
    print(str(Value1) + ' + ' + str(Value2) + ' = ' + 
         str((Value1 + Value2)))

In [16]:
DisplaySum(2,3)

2 + 3 = 5

In [17]:
DisplaySum(Value2=3, Value1=2)

2 + 3 = 5

In [23]:
def SayHello(Greeting = "No Value Supplied"):
    print(Greeting)

In [24]:
SayHello()

No Value Supplied

In [25]:
SayHello("Howdy!")

Howdy!

In [28]:
def DisplayMulti(ArgCount = 0, *VarArgs):
    print('You passed ' + str(ArgCount) + ' arguments.',
          Var Args)

SyntaxError: invalid syntax (<ipython-input-28-7dc0a4d1aca6>, line 3)

In [30]:
DisplayMulti()

NameError: name 'DisplayMulti' is not defined

In [32]:
def DisplayMulti(ArgCount = 0, *VarArgs):
    print('You passed ' + str(ArgCount) + ' arguments.', VarArgs)

In [33]:
DisplayMulti()

You passed 0 arguments. ()

In [34]:
DisplayMulti(3,'Hello',1,True)

You passed 3 arguments. ('Hello', 1, True)

In [35]:
def TestValue(Value): 
    if Value ==5:
        print('Value equals 5!')
    elif Value ==6:
        print('Value equals 6!')
    else: 
        print('Value is somehting else.')
        print('It equals ' + str(Value))

In [36]:
TestValue(1)

Value is somehting else.
It equals 1

In [37]:
TestValue(5)

Value equals 5!

In [38]:
TestValue(6)

Value equals 6!

In [39]:
def SecretNumber():
    One = int(input("Type a number between 1 and 10: "))
    Two = int(input("Type a number between 1 and 10: "))
    
    if (One>=1) and (One <= 10):
        if(Two >= 1) and (Two<= 10):
            print('Your secret number is: ' + str(One * Two))
        else: 
            print("Incorrect second value!")
    else: print("Incorrect first value!")

In [40]:
SecretNumber()

Type a number between 1 and 10: 20
Type a number between 1 and 10: 10
Incorrect first value!

In [41]:
SecretNumber()

Type a number between 1 and 10: 10
Type a number between 1 and 10: 20
Incorrect second value!

In [42]:
SecretNumber()

Type a number between 1 and 10: 10
Type a number between 1 and 10: 10
Your secret number is: 100

In [43]:
SecretNumber()

Type a number between 1 and 10: 3
Type a number between 1 and 10: 5
Your secret number is: 15

In [45]:
def DisplayMulti(*VarArgs):
    for Arg in VarArgs: 
        if Arg.upper() == 'CONT':
            continue
            print('Continue Argument: ' + Arg)
        elif Arg.upper() == 'BREAK':
            break
            print('Break Argument: ' + Arg)
        print('Good Argument: ' + Arg)

In [47]:
DisplayMulti('Hello','Cont','Goodbye','Break','Last')

Good Argument: Hello
Good Argument: Goodbye

In [48]:
def SecretNumber():
    GotIt = False
    while GotIt == False:
        One = int(input("Type a number between 1 and 10: "))
        Two = int(input("Type a number between 1 and 10: "))
        
        if (One >= 1) and (One <= 10):
            if (Two >= 1) and (Two <= 10):
                print('Secret number is: ' + str(One * Two))
                GotIt = True
                continue
            else: 
                print("Incorrect second value!")
        else: 
            print("Incorrect first value!")
        print("Try again!")

In [49]:
SecretNumber()

Type a number between 1 and 10: 20
Type a number between 1 and 10: 10
Incorrect first value!
Try again!
Type a number between 1 and 10: 12
Type a number between 1 and 10: 14
Incorrect first value!
Try again!
Type a number between 1 and 10: 10
Type a number between 1 and 10: 10
Secret number is: 100

In [61]:
from sets import Set
SetA = Set(['Red', 'Blue', 'Green', 'Black'])
SetB = Set(['Black', 'Green', 'Yellow', 'Orange'])
SetX = SetA.union(SetB)
SetY = SetA.intersection(SetB)
SetZ = SetA.difference(SetB)

ImportError: cannot import name 'Set'

In [58]:
print'{0}\n{1}\n{2}'.format(SetX,SetY,SetZ)

SyntaxError: invalid syntax (<ipython-input-58-941891116cc2>, line 1)

In [62]:
ListA = [0,1 ,2, 3]
ListB = [4, 5, 6, 7]
ListA.extend(ListB)
ListA

[0, 1, 2, 3, 4, 5, 6, 7]

In [64]:
ListA.append(-5)

In [66]:
ListA

[0, 1, 2, 3, 4, 5, 6, 7, -5, -5]

In [67]:
ListA.remove(-5)

In [69]:
ListA

[0, 1, 2, 3, 4, 5, 6, 7, -5]

In [70]:
ListA.remove(-5)

In [71]:
ListA

[0, 1, 2, 3, 4, 5, 6, 7]

In [72]:
ListX=ListA + ListB

In [73]:
ListX

[0, 1, 2, 3, 4, 5, 6, 7, 4, 5, 6, 7]

In [74]:
MyTuple = (1, 2, 3, (4, 5, 6, (7, 8, 9)))

In [86]:
for Value1 in MyTuple: 
    if type(Value1) == int: 
        print (Value1)
    else:
        for Value2 in Value1: 
            if type(Value2) == int: 
                print ("\t", Value2)
            else:
                for Value3 in Value2: 
                    print ("\t\t", Value3)

1
2
3
	 4
	 5
	 6
		 7
		 8
		 9

In [87]:
# book code missing parentheses after each print function.

In [84]:
MyNewTuple = MyTuple.__add__((10,11,12,(13,14,15)))

In [85]:
MyNewTuple

(1, 2, 3, (4, 5, 6, (7, 8, 9)), 10, 11, 12, (13, 14, 15))

In [88]:
ListA = ['Orange', 'Yellow', 'Green', 'Brown']
ListB = [1, 2, 3, 4]

In [89]:
ListA[1]

'Yellow'

In [90]:
ListB[1:3]

[2, 3]

In [92]:
for Value in ListB[1:3]:
    print (Value)

2
3

In [ ]:
# again book missing the parentheses after print. Could be version? IDK

In [93]:
for Value1, Value2 in zip(ListA, ListB):
    print (Value1, '\t', Value2)

Orange 	 1
Yellow 	 2
Green 	 3
Brown 	 4

In [94]:
MyDict={'Orange':1,'Blue':2,'Pink':3}

In [95]:
MyDict['Pink']

3

In [96]:
MyDict.keys()

dict_keys(['Orange', 'Blue', 'Pink'])

In [97]:
MyDict.values()

dict_values([1, 2, 3])

In [98]:
with open("Colors.txt", 'rb') as open_file:
    print 'Colors.txt content:\n' + open_file.read()

SyntaxError: invalid syntax (<ipython-input-98-f54fda347543>, line 2)